.navbar {
  background-color: #e74c3c !important;
}
.navbar .navbar-brand {
  color: #ffbbbc !important;
}
/* .navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc !important;
} */
.navbar .navbar-text{
  color: black !important;
}

/* .mapifm{
	width:600px;
	height:400px;
}
.parifm{
	width:600px;
	height:400px;
}
.scaifm{
	width:800px;
	height:800px;
} */
